doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Simple Pug Example
  body
    h1= mensaje
    p This is a simple HTML file using Pug and Express.
    h2 Este es un titulo de nivel 2
    input(type="email" placeholder="hola")
    p= saludo
